In [6]:
import pandas as pd

customerData = pd.read_csv("../dataset/customerdata.csv")

customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

#리스트로 데이터프레임 만들기

In [7]:
import pandas as pd

In [8]:

stNum = [1,2,3]
stName = ["bjw8518","bjw","JW"]

In [9]:
testDf = pd.DataFrame(zip(stNum,stName))
testDf

   0        1
0  1  bjw8518
1  2      bjw
2  3       JW

In [10]:
row1 =[1,"bjw8518"]
row2 = [2,"bjw"]

In [11]:
testDf2 = pd.DataFrame([row1],[row2])
testDf2

     0        1
2    1  bjw8518
bjw  1  bjw8518

In [12]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [13]:
tableDefine = pd.DataFrame(customerData.dtypes)

In [14]:
tableDefine.to_csv("../BJW_Record/customerData.csv")

In [15]:
tableDefine["비고"] = ""
tableDefine

                   0 비고
CUSTID        object
AVGPRICE     float64
EMI            int64
DEVICECOUNT    int64
PRODUCTAGE   float64
CUSTTYPE      object

In [16]:
customerData.loc[[0,1,2]]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

In [17]:
customerData.loc[0:10] #0부터 10까지

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   A14219  3642.441950    2            4    2.682023      Sleeping-dog
2   A15312  3653.884565    2            5    3.208202      Sleeping-dog
3   A16605  3713.211107    2            6    0.900000        Early-bird
4   B10634  3391.074215    2            4    2.453656      Sleeping-dog
5   B16849  3755.263391    2            4    2.786665      Sleeping-dog
6   B18816  3213.911446    2            6    0.900000        Early-bird
7   C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8   C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9   C15050  4020.173425    2            4    3.013440      Sleeping-dog
10  C18306  4005.005142    2            4    3.113618      Sleeping-dog

In [18]:
refinedData =\
    customerData.loc[customerData.EMI >2]

In [19]:
#refinedData =\ #위의 26번 라인과 같은내용(27번 문장은 반복문에 활용할수있음)
#    customerData.loc[customerData[EMI] >2]

In [20]:
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [21]:
emiCondition = 3
deviceCondition = 5

In [22]:
csData = customerData.loc[(customerData.EMI>=emiCondition) &
                (customerData.DEVICECOUNT>deviceCondition)]

In [29]:
#새로불러옴
customerData = pd.read_csv("../dataset/customerdata.csv")

customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [31]:
csCol = list(customerData.columns)

In [33]:
for i in range(0,len(csCol)):
    try:
        customerData[csCol[i]] =customerData[csCol[i]].astype(str)
    except Exception as e:
        print(e)

In [34]:
customerData.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
dtype: object

In [56]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [57]:
customerData.loc[:]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [1]:
import pandas as pd
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [26]:
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [2]:
csData = customerData.loc[customerData.EMI>2]

In [3]:
csData2 = csData.reset_index(drop=True)# (),inplace=True)inplace -가독성에서 마이너스포인트.

In [ ]:
csData3 = csData2.set_index(keys="CUSID")

In [ ]:
csData3